.myDiv {
    background-color:aliceblue;
    border-style:solid;
    border-color: teal;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.h1 {
    background-color: lightseagreen;
    border-style:ridge;
    border-color:seagreen;
    border-radius:10px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.bonfire {
    border-radius: 100px;
    text-align: center;
    border-color: black;
}